* {
  margin: 0;
  padding: 0;
}
.container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.header {
  padding-bottom: 20px;
}
.list {
  width: 100%;
}
.list > .item {
  width: 100px;
  text-align: center;
  margin: 0 auto;
  background-color: #ecf0f1;
}
.item > input[type="checkbox"]{
width: 25px;
height: 25px;
background-color: #bdc3c7;
}
.item > input[type="checkbox"]:checked{
  background-color: #2980b9;
}